:root {
    --primary-color: #ffffff;
    --secondary-color: #C2DEDC;
}

h1 {
    margin-left: 17%;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100v%;
    z-index: -10;
    background-color: var(--primary-color);
}
}
